[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/bandit.vim"]
	path = bundle/bandit.vim
	url = git://github.com/vim-scripts/bandit.vim.git
[submodule "bundle/bufexplorer.zip"]
	path = bundle/bufexplorer.zip
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/CRefVim"]
	path = bundle/CRefVim
	url = git://github.com/vim-scripts/CRefVim.git
[submodule "bundle/cscope.vim"]
	path = bundle/cscope.vim
	url = git://github.com/vim-scripts/cscope.vim.git
[submodule "bundle/c.vim"]
	path = bundle/c.vim
	url = git://github.com/vim-scripts/c.vim.git
[submodule "bundle/genutils.git"]
	path = bundle/genutils.git
	url = git://github.com/vim-scripts/genutils.git
[submodule "bundle/lookupfile"]
	path = bundle/lookupfile
	url = git://github.com/vim-scripts/lookupfile.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/pathogen.vim"]
	path = bundle/pathogen.vim
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/python.vim"]
	path = bundle/python.vim
	url = git://github.com/vim-scripts/python.vim.git
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = git://github.com/vim-scripts/rainbow_parentheses.vim.git
[submodule "bundle/repeat.vim"]
	path = bundle/repeat.vim
	url = https://github.com/vim-scripts/repeat.vim
[submodule "bundle/SuperTab.git"]
	path = bundle/SuperTab.git
	url = git://github.com/vim-scripts/SuperTab.git
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = git://github.com/vim-scripts/surround.vim.git
[submodule "bundle/tabular.git"]
	path = bundle/tabular.git
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/Tagbar.vim"]
	path = bundle/Tagbar.vim
	url = git://github.com/vim-scripts/Tagbar.git
[submodule "bundle/YankRing.vim"]
	path = bundle/YankRing.vim
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/buffergrep.vim"]
	path = bundle/buffergrep.vim
	url = git://github.com/vim-scripts/buffergrep.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-indent-guides.git"]
	path = bundle/vim-indent-guides.git
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vimspell.vim"]
	path = bundle/vimspell.vim
	url = git://github.com/vim-scripts/vimspell.git
[submodule "bundle/winmanager.vim"]
	path = bundle/winmanager.vim
	url = git://github.com/vim-scripts/winmanager.git
[submodule "bundle/ctags.vim"]
	path = bundle/ctags.vim
	url = git://github.com/vim-scripts/ctags.vim.git
[submodule "bundle/easy-motion"]
	path = bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https://github.com/vim-scripts/Indent-Guides
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/xptemplate"]
	path = bundle/xptemplate
	url = https://github.com/vim-scripts/xptemplate.git
[submodule "bundle/pydiction"]
	path = bundle/pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/vim-scripts/ack.vim
[submodule "bundle/ShowMarks"]
	path = bundle/ShowMarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/SearchComplete"]
	path = bundle/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/QuickBuf"]
	path = bundle/QuickBuf
	url = https://github.com/vim-scripts/QuickBuf.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
